.user-image{
    width:100px;
    height:100px;
    border-radius: 50%;
    margin-left:150px;
}
body{
    align-items: center;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container{
    border: 1px solid grey;
    box-shadow: 5px 8px;
    padding: 18px;
    position: absolute;
    top:110px;
    left:400px;
}

label{
    font-family:Arial, Helvetica, sans-serif;
}
.rem-button{
    width:150px;
    height:40px;
    border: none;
    border-radius:5px;
    margin-top:30px;
    margin-left:10px;
}
.cancel-button{

    color:white;
    border: none;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border-radius:5px;
    margin-left:10px;
}
.log-button{
    border: none;
    border-radius:5px;
    margin-top:10px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.loginpage-footer{
    width:100%;
    height:100px;
    background-color: #f1f1f1;
  
}
button:hover {
    opacity: 0.7;
  }
.image-container{
    align-items: center;
}
.psw{
    margin-left: 200px;

}